version: "3.8"
services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
      - ./data:/app/data
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    tty: true # コンテナを立ち上げっぱなしにする
    stdin_open: true
